@charset "utf-8";


footer {
	box-sizing: border-box;
	margin : 0;
	
	padding : 0;
	list-style-type: none;
	font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
	position: relative;
	height : 200px;
	bottom : 0px;
	display: inline-block;
	background-color: #F8F8FA;
	padding: 0 200px;
    width: 100%;
}

footer a {
	text-decoration: none;
    color: #666;
    line-height: 30px;
    font-size: .8667em;
}

footer li {
    float: left;
    margin-left: 14px;
}

.footer-top {
	overflow: hidden;
    width: 1100px;
    margin: 0 auto;
    padding: 30px 0;
}

.inner-wrap-footer {
    width: 1100px;
    margin: 0 auto;
}

.footer-bottom {
    overflow: hidden;
    width: 1100px;
    margin: 0 auto;
    padding: 0;
}

.megabox-img {
    overflow: hidden;
    display: block;
    float: left;
    width: 150px;
    height: 50px;
    margin: 0 20px 0 0;
    padding: 0;
    text-indent: -9999px;
    background:url('../image/logo_gray.png') no-repeat center;;
}

.footer-info {
    float: left;
    font-size: .8667em;
    letter-spacing: 0;
}

.footer-sns {
    float: right;
}